@import './sass/sassCore/base';

.action-list{
    @include clearfix();
    width: 1025px;
    li{
        @include float();
        width: 316px;
        margin-right: 25px;
        margin-bottom: 50px;
        a{
            display: block;
            .action-img{
                display: block;
                width: 100%;
                height: 340px;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            .action-con{
                padding: 25px 20px;
                background: #eee;
                h3{
                    font-size: 18px;
                    color: #333;
                    line-height: 1.2;
                    height: 22px;
                    overflow: hidden;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 14px;
                    line-height: 24px;
                    color: #555;
                    margin-bottom: 15px;
                    height: 48px;
                    overflow: hidden;
                }
                .time{
                    color: #999;
                }
            }
        }
    }
}