.detail-title{
    font-size: 18px;
    color: #1d8c3b;

}
.detail-time{
    font-size: 14px;
    color: #999;
}
.detail-con{
    padding: 40px 0;
    p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
        color: #555;
    }
    img{
        display: block;
        max-width: 600px;
        margin: 0 auto 20px;
    }
}