@import './sass/sassCore/base';

.employ-para{
    font-size: 14px;
    color: #555;
    line-height: 24px;
    margin: 25px 0 30px;
}

.employ-info{
    font-size: 14px;
    color: #da5f18;
    margin-bottom: 40px;
}

.employ-table{
    h3{
        font-size: 18px;
        color: #1d8c3b;
        margin-bottom: 10px;
    }
    table{
        width: 100%;
        margin-bottom: 40px;
        th{
            font-size: 16px;
            background: #ebebeb;
        }
        td{
            text-align: center;
            height: 40px;
        }
    }
    dl{
        @include display-flex();
        margin-bottom: 50px;
        dt{
            width: 50px;
        }
        dd{
            @include flex(1);
        }
    }
    .join-btn{
        display: block;
        background: #da5f18;
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        margin: 0 auto 50px;

    }
}