@import './sass/sassCore/base';

.award-select{
    margin-bottom: 50px;
    span{
        vertical-align: middle;
    }
}
.award-list{
    margin-bottom: 30px;
    ul{
        @include clearfix();
    }
    li{
        float: left;
        width: 48%;
        margin-right: 4%;
        margin-bottom: 8%;
        padding-bottom: 33%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        &:nth-child(even){
            margin-right: 0;
        }
    }
}

