@import './sass/sassCore/base';
.structure-site {
  position: relative;
  @include clearfix();
  overflow: hidden;
  margin-top: 40px;
}
.structure-site .top {
  position: relative;
  float: left;
  margin-top: 200px;
  width: 16px;
  height: 62px;
  padding: 10px 4px 0;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  background: #1d8c3b;
}
.structure-site .top span {
  position: absolute;
  width: 15px;
  height: 1px;
  top: 36px;
  left: 24px;
  background: #e0e0e0;
}
.hr {
  float: left;
  margin: 26px 0 0 15px;
  width: 1px;
  height: 440px;
  background: #e0e0e0;
  
}
.hr span {
  position: absolute;
  height: 1px;
  width: 6.5%;
  background: #e0e0e0;
  left: 40px;
}
.hr .line1 {
  top: 26px;
}
.hr .line2 {
  top: 96px;
}
.hr .line3 {
  top: 166px;
}
.hr .line4 {
  top: 236px;
}
.hr .line5 {
  top: 326px;
}
.hr .line6 {
  top: 396px;
}
.hr .line7 {
  top: 466px;
}


.department-area {
  @include float();
  width: 85%;
  
}
.department-item {
  @include clearfix();
  margin-bottom: 20px;
}
.department-item.last-item {
  margin-right: 0;
}
.department-item .title {
  position: relative;
  float: left;
  font-size: 16px;
  width: 6.5%;
  padding: 4px 1.6%;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background: #1d8c3b;
  margin-left: 5.7%;
}
.department-item .title i {
  position: absolute;
  height: 1px;
  width: 40%;
  background: #e0e0e0;
  top: 26px;
  left: 100%;
}


.department-item a {
  float: left;
  position: relative;
  font-size: 16px;
  width: 6.5%;
  padding: 4px 1.6%;
  line-height: 20px;
  margin-left: 3.6%;
  border: 1px solid #e7e7e7;
  text-align: center;
}
.department-item a i {
  position: absolute;
  height: 1px;
  width: 43%;
  background: #e0e0e0;
  top: 50%;
  left: 100%;
}
.spec-item a i {
  top: 37%;
}