/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. 0. sassCore's style */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ overflow-y: scroll; /* 0 */ -webkit-overflow-scrolling: touch; /* 0 */ font-size: 100px; }

/** 1. Remove default margin 0. sassCore's style. */
body { margin: 0; /* 1 */ font-size: 14px; /* 0 */ line-height: 1.5; /* 0 */ color: #444; /* 0 */ background-color: #fff; /* 0 */ }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. 3. Correct `inline-block` display in IE 6/7. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** 1. Remove the gray background color from active links in IE 10. 2. Improve readability when focused and also mouse hovered in all browsers. 0. sassCore's style. */
a { background: transparent; /* 1 */ /* 0 */ text-decoration: none; color: #444; }
a:active, a:hover { outline: 0; /* 2 */ }
a:hover { color: #2b2b2b; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** 1. Remove border when inside `a` element in IE 8/9/10. 2. Improve image quality when scaled in IE 7. 0. sassCore's style. */
img { border: 0; /* 1 */ vertical-align: middle; /* 0 */ }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address differences between Firefox and other browsers. */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** 1. Contain overflow in all browsers. 2. Improve readability of pre-formatted text in all browsers. */
pre { overflow: auto; /* 1 */ white-space: pre; /* 2 */ white-space: pre-wrap; /* 2 */ word-wrap: break-word; /* 2 */ }

/** 1. Address odd `em`-unit font size rendering in all browsers. 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome. */
code, kbd, pre, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. 4. Remove inner spacing in IE 7 without affecting normal text inputs. Known issue: inner spacing remains in IE 6. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. 3. Remove excess padding in IE 7. Known issue: excess padding remains in IE 6. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. 3. Correct alignment displayed oddly in IE 6/7. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** 1. Remove default vertical scrollbar in IE 8/9/10/11. 0. sassCore's style */
textarea { overflow: auto; /* 1 */ resize: vertical; /* 0 */ }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/** Address CSS quotes not supported in IE 6/7. */
html, button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", "Heiti SC", sans-serif; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }

ul, ol, li, dl, dd { margin: 0; padding: 0; }

ul, ol { list-style: none outside none; }

h1, h2, h3 { line-height: 2; font-weight: normal; }

h1 { font-size: 21px; }

h2 { font-size: 18.2px; }

h3 { font-size: 16.38px; }

h4 { font-size: 14px; }

h5, h6 { font-size: 11.9px; text-transform: uppercase; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #ccc; }

input::-moz-placeholder, textarea::-moz-placeholder { color: #ccc; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #ccc; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #ccc; }

.product-part .product-table:before, .product-part .product-table .other-product:before, .product-part .product-table:after, .product-part .product-table .other-product:after { content: ""; display: table; }
.product-part .product-table:after, .product-part .product-table .other-product:after { clear: both; }

* { box-sizing: border-box; }

.wrapper { padding: 0 15px; position: relative; }

html, body { overflow-x: hidden; }

.header { position: relative; height: 50px; padding: 8px 0 12px; background: #00445d; }
.header .logo { display: block; width: 42px; margin: 0 auto; }
.header .nav-btn { position: absolute; width: 27px; height: 3px; top: 16px; right: 15px; background: #fff; }
.header .nav-btn:before { content: ''; position: absolute; width: 27px; height: 3px; background: #fff; top: -7px; }
.header .nav-btn:after { content: ''; position: absolute; width: 27px; height: 3px; background: #fff; top: 7px; }

.side-nav { position: absolute; right: 0; top: 0; width: 50%; z-index: 10; background: rgba(0, 0, 0, 0.9); -webkit-transform: translateX(200%); transform: translateX(200%); transition: all 0.4s ease; }
.side-nav.active { -webkit-transform: translateX(0); transform: translateX(0); }
.side-nav h2 { border-bottom: 1px solid #333; position: relative; }
.side-nav h2 a { display: block; font-size: 12px; padding: 12px 20px; line-height: 1.5; color: #00afec; }
.side-nav h2 span { position: absolute; top: 12px; right: 29px; background: #00afec; width: 2px; height: 18px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.side-nav h2 span:after { content: ""; position: absolute; left: -8px; top: 8px; background: #00afec; width: 18px; height: 2px; }
.side-nav .item h3 { position: relative; font-size: 12px; padding: 8px 20px; border-bottom: 1px solid #333; color: #00afec; }
.side-nav .item h3:after { content: ''; position: absolute; width: 8px; height: 8px; border-left: 1px solid #00afec; border-bottom: 1px solid #00afec; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); right: 125px; top: 12px; }
.side-nav .item .list { display: none; }
.side-nav .item .list a { display: block; padding: 8px 20px; font-size: 12px; color: #ccc; background: rgba(30, 30, 30, 0.9); border-bottom: 1px solid #333; }
.side-nav .item.last-item h3:before { content: ''; position: absolute; width: 0; height: 0; border: 10px solid transparent; border-left: 10px solid #7d7d7d; right: 26px; top: 22px; }
.side-nav .item.last-item h3:after { content: ''; position: absolute; width: 0; height: 0; border: 10px solid transparent; border-left: 10px solid #fff; right: 28px; top: 22px; }

.footer { background: #f6f6f6; }
.footer .wrapper { padding-top: 10px; }
.footer .wrapper .company-info .title { font-size: 14px; color: #7b7b7b; margin-bottom: 5px; }
.footer .wrapper .company-info table { width: 100%; }
.footer .wrapper .company-info table td { font-size: 12px; height: 40px; color: #b6b6b6; }
.footer .copyright { text-align: center; background: #e6e6e6; color: #7b7b7b; font-size: 12px; line-height: 24px; }

.swiper-container1 .slide-img { padding-bottom: 35%; background-position: top center; background-repeat: no-repeat; background-size: cover; }

.swiper-container-horizontal > .swiper-pagination-bullets { bottom: 10px; }

.swiper-pagination-center { text-align: center; }
.swiper-pagination-center .swiper-pagination-bullet { width: 10px; height: 10px; border-radius: 50%; background: #fff; -webkit-box-shadow: 0 0 2px rgba(100, 100, 100, 0.5); -moz-box-shadow: 0 0 2px rgba(100, 100, 100, 0.5); box-shadow: 0 0 2px rgba(100, 100, 100, 0.5); }
.swiper-pagination-center .swiper-pagination-bullet.swiper-pagination-bullet-active { background: #00afec; }

.product-part { position: relative; margin-bottom: 10px; }
.product-part .product-table { background: #fff; }
.product-part .product-table .main-product { padding: 5px 10px; border: 1px solid #e6e6e6; }
.product-part .product-table .main-product .title { position: relative; padding-bottom: 10px; margin-bottom: 10px; }
.product-part .product-table .main-product .title strong { font-size: 20px; color: #00afec; display: block; line-height: 24px; }
.product-part .product-table .main-product .title span { font-size: 12px; color: #a4a4a4; }
.product-part .product-table .main-product .title:after { content: ''; position: absolute; width: 30px; height: 3px; background: #00afec; left: 0; bottom: 0; }
.product-part .product-table .main-product .img-container { text-align: center; vertical-align: middle; }
.product-part .product-table .main-product .img-container img { max-height: 130px; }
.product-part .product-table .other-product { border-left: 1px solid #e6e6e6; }
.product-part .product-table .other-product .product-item { position: relative; float: left; width: 50%; padding: 10px; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; }
.product-part .product-table .other-product .product-item .img-container { height: 100px; overflow: hidden; }
.product-part .product-table .other-product .product-item .img-container img { max-width: 160px; max-height: 100px; display: block; margin: 0 auto; }
.product-part .product-table .other-product .product-item .intro-wrap { height: 100%; overflow: hidden; }
.product-part .product-table .other-product .product-item .intro-wrap .intro .title { margin-bottom: 5px; }
.product-part .product-table .other-product .product-item .intro-wrap .intro .title .title-row { font-size: 12px; display: inline-block; vertical-align: middle; }
.product-part .product-table .other-product .product-item .intro-wrap .intro .title strong { color: #00afec; display: block; }
.product-part .product-table .other-product .product-item .intro-wrap .intro .para { color: #a4a4a4; font-size: 12px; line-height: 20px; }

.ambassador-part { height: 400px; background: url(../../images/ambassador-bg.jpg) top center no-repeat; background-size: cover; position: relative; margin-bottom: 10px; }
.ambassador-part .swiper-container2 { padding-top: 80px; }
.ambassador-part .swiper-container2 img { max-height: 250px; }
.ambassador-part .swiper-container2 .swiper-slide { text-align: center; }
.ambassador-part .swiper-container2 .swiper-slide .name { width: 150px; border: 1px solid #00afec; color: #00afec; text-align: center; font-size: 12px; line-height: 32px; border-radius: 16px; margin: 15px auto 0; }
.ambassador-part .swiper-container2 .swiper-button-prev, .ambassador-part .swiper-container2 .swiper-button-next { width: 20px; height: 30px; margin-top: -15px; }
.ambassador-part .mask { position: absolute; width: 100%; height: 130px; bottom: 35px; background: linear-gradient(0deg, #000, #000 20%, transparent 100%); z-index: 30; }
.ambassador-part .swiper-button-prev { background: url("../../images/banner-arrow.jpg") 0 0 no-repeat; left: 8px; background-size: cover; }
.ambassador-part .swiper-button-next { background: url("../../images/banner-arrow.jpg") -20px 0px no-repeat; right: 8px; background-size: cover; }

.video-part { position: relative; margin-bottom: 10px; }
.video-part .wrapper .video-container { height: 200px; }

.slogan-part { margin-bottom: 10px; }
.slogan-part .wrapper .title { font-size: 20px; line-height: 30px; color: #7b7b7b; margin-bottom: 10px; }
.slogan-part .wrapper .slogan { width: 300px; margin-bottom: 10px; }
.slogan-part .wrapper .article { position: relative; padding: 10px; background: #f6f6f6; }
.slogan-part .wrapper .article p { font-size: 12px; line-height: 20px; color: #7b7b7b; margin-bottom: 12px; }
