@import './common.scss';

.ambassador-item{
  position: relative;
  height: 375px;
  font-style: italic;
  .intro{
    padding: 20px;
    background: rgba(0, 0, 0, .5);
    height: 100%;
  }
  h3{
    font-size: 18px;
    color: #00afec;
    margin-bottom: 10px;
    line-height: 20px;
  }
  h4{
    color: #f8e00d;
    font-size: 16px;
    margin-bottom: 10px;
  }
  dl{
    dt{
      font-size: 14px;
      color: #fff;
      font-weight: 600;
      margin-bottom: 5px;
    }
    dd{
      font-size: 12px;
      line-height: 24px;
      color: #fff;
    }
  }
  &.am1-item{
    background: url(../../images/am1-bg.jpg) left center no-repeat;
    background-size: auto 375px;
  }
  &.am2-item{
    height: 450px;
    background: url(../../images/am2-bg.jpg) right center no-repeat;
    background-size: auto 450px;
  }
  &.am3-item{
    background: url(../../images/am3-bg.jpg) left center no-repeat;
    background-size: auto 375px;
    .intro{
      padding-top: 60px;
    }
  }
  &.am4-item{
    background: url(../../images/am4-bg.jpg) right center no-repeat;
    background-size: auto 375px;
    .intro{
      padding-top: 60px;
    }
  }

}