@import './common.scss';

.story-part1{
  height: 128px;
  background: url(../../images/story-part1.jpg) top center no-repeat;
  background-size: 100% auto;
}
.story-part2{
  height: 190px;
  background: url(../../images/story-part2.jpg) top center no-repeat;
  background-size: 100% auto;
}
.story-part3{
  height: 168px;
  background: url(../../images/story-part3.jpg) top center no-repeat;
  background-size: 100% auto;
}
.story-part4{
  height: 165px;
  background: url(../../images/story-part4.jpg) top center no-repeat;
  background-size: 100% auto;
}
.story-part5{
  height: 136px;
  background: url(../../images/story-part5.jpg) top center no-repeat;
  background-size: 100% auto;
}
.story-part6{
  height: 166px;
  background: url(../../images/story-part6.jpg) top center no-repeat;
  background-size: 100% auto;
}
.story-part7{
  height: 152px;
  background: url(../../images/story-part7.jpg) top center no-repeat;
  background-size: 100% auto;
}