* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: arial;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  color: #fff;
  background: #000000;
}

.schoolboy .item.item1 {
  background: #000000 url('./../images/schoolboy/item1/item1_bg.jpg') no-repeat 50% 50%/cover;
}

.schoolboy .item2 .bg {
  position: relative;
  /*position: absolute;*/
  left: 50%;
}

.schoolboy .item2 .bg1 {
  top: 0.625rem;
  width: 93.06%;
  background: url('./../images/schoolboy/item2/block1.png') no-repeat 50% 50%/cover;
  padding-top: 44.93%;
  margin-left: -46.53%;
}

.schoolboy .item2 .bg2 {
  top: 9.7rem;
  width: 93.06%;
  background: url('./../images/schoolboy/item2/block2.png') no-repeat 50% 50%/cover;
  padding-top: 58.8%;
  margin-left: -46.53%;
}

.schoolboy .item2 .bg3-wrapper {
  top: 21.325rem;
  width: 93.06%;
  padding-top: 48.26%;
  margin-left: -46.53%;
}

.schoolboy .item2 .bg3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./../images/schoolboy/item2/block3.png') no-repeat 50% 50%/cover;
}

.schoolboy .item2 .dialogue3 {
  position: absolute;
  top: -0.225rem;
  left: 1.225rem;
  width: 35.24%;
  background: url('./../images/schoolboy/item2/dialogue3.png') no-repeat 50% 50%/cover;
  padding-top: 19.34%;
}

.schoolboy .item3 .bg {
  position: absolute;
  left: 50%;
}

.schoolboy .item3 .bg1-wrapper {
  top: 0.625rem;
  width: 93.06%;
  padding-top: 50.13%;
  margin-left: -46.53%;
}

.schoolboy .item3 .bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./../images/schoolboy/item3/block1.png') no-repeat 50% 50%/cover;
}

.schoolboy .item3 .crow {
  position: absolute;
  top: 1.3rem;
  left: 9rem;
  width: 25.5%;
  background: url('./../images/schoolboy/item3/crow.png') no-repeat 50% 50%/contain;
  padding-top: 7.73%;
}

.schoolboy .item3 .dialogue1 {
  position: absolute;
  bottom: 1rem;
  right: 0.7rem;
  width: 50.71%;
  background: url('./../images/schoolboy/item3/dialogue1.png') no-repeat 50% 50%/contain;
  padding-top: 30.51%;
}

.schoolboy .item3 .bg2-wrapper {
  top: 10.45rem;
  width: 93.06%;
  padding-top: 48.13%;
  margin-left: -46.53%;
}

.schoolboy .item3 .bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./../images/schoolboy/item3/block2.png') no-repeat 50% 50%/cover;
}

.schoolboy .item3 .dialogue2 {
  position: absolute;
  top: -1.4rem;
  left: 2.7rem;
  width: 60.17%;
  background: url('./../images/schoolboy/item3/dialogue2.png') no-repeat 50% 50%/contain;
  padding-top: 20.91%;
}

.schoolboy .item3 .bg3-wrapper {
  top: 19.275rem;
  width: 92.26%;
  padding-top: 58.13%;
  margin-left: -46.13%;
}

.schoolboy .item3 .bg3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./../images/schoolboy/item3/block3.png') no-repeat 50% 50%/cover;
}

.schoolboy .item3 .text1-wrapper {
  position: absolute;
  top: 1.2rem;
  left: 0.7rem;
}

.schoolboy .item3 .text1 {
  font-size: 0.7rem;
  line-height: 1.5em;
}

.schoolboy .item3 .peng {
  position: absolute;
  top: 4.5rem;
  left: 50%;
  width: 58.81%;
  background: url('./../images/schoolboy/item3/peng.png') no-repeat 50% 50%/contain;
  padding-top: 25%;
  margin-left: -29.405%;
}

.schoolboy .item4 .bg {
  position: absolute;
  left: 50%;
}

.schoolboy .item4 .bg1 {
  top: 0.625rem;
  width: 93.06%;
  background: url('./../images/schoolboy/item4/block1.png') no-repeat 50% 50%/cover;
  padding-top: 158.13%;
  margin-left: -46.53%;
  overflow: hidden;
}

.schoolboy .item4 .dialogue2 {
  position: absolute;
  top: 11.7rem;
  left: 1.5rem;
  z-index: 3;
  width: 75.35%;
  background: url('./../images/schoolboy/item4/dialogue2.png') no-repeat 50% 50%/contain;
  padding-top: 26.93%;
}

.schoolboy .item4 .expense-statement {
  position: absolute;
  bottom: -0.16rem;
  left: 2rem;
  width: 78.79%;
  background: url('./../images/schoolboy/item4/expense_statement.png') no-repeat 50% 50%/contain;
  padding-top: 84.52%;
}

.schoolboy .item5 .bg {
  position: absolute;
  left: 50%;
}

.schoolboy .item5 .bg1 {
  top: 0.675rem;
  width: 93.2%;
  background: url('./../images/schoolboy/item5/block1.png') no-repeat 50% 50%/cover;
  padding-top: 76.13%;
  margin-left: -46.6%;
}

.schoolboy .item5 .bg2 {
  top: 12.45rem;
  width: 93.2%;
  background: url('./../images/schoolboy/item5/block2.png') no-repeat 50% 50%/cover;
  padding-top: 29.73%;
  margin-left: -46.6%;
}

.schoolboy .item5 .bg3 {
  top: 18.5rem;
  width: 93.2%;
  background: url('./../images/schoolboy/item5/block3.png') no-repeat 50% 50%/cover;
  padding-top: 63.33%;
  margin-left: -46.6%;
}

.schoolboy .item.item6 {
  background: #000000 url('./../images/schoolboy/item6/item6_bg.jpg') no-repeat 50% 50%/cover;
}

.schoolboy .item6 .title {
  position: absolute;
  top: 10.075rem;
  left: 50%;
  width: 53.86%;
  background: url('./../images/schoolboy/item6/title.png') no-repeat 50% 50%/contain;
  padding-top: 13.06%;
  margin-left: -26.93%;
}

.schoolboy .item6 .starring-list-title {
  position: absolute;
  top: 13.65rem;
  left: 50%;
  width: 10%;
  background: url('./../images/schoolboy/item6/starring_list_title.png') no-repeat 50% 50%/contain;
  padding-top: 2.66%;
  margin-left: -5%;
}

.schoolboy .item6 .starring-list-content {
  position: absolute;
  top: 15.075rem;
  left: 50%;
  width: 43.06%;
  background: url('./../images/schoolboy/item6/starring_list_content.png') no-repeat 50% 50%/contain;
  padding-top: 15.86%;
  margin-left: -21.53%;
}

.schoolboy .item6 .my-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./../images/schoolboy/item6/fade.png') repeat-x 50% 50%/contain;
}

.schoolboy .item6 .ending {
  position: absolute;
  top: 19.05rem;
  left: 50%;
  width: 14.66%;
  background: url('./../images/schoolboy/item6/ending.png') no-repeat 50% 50%/contain;
  padding-top: 4%;
  margin-left: -7.33%;
}

.schoolboy .item6 .change-destiny-btn {
  position: absolute;
  bottom: 4.825rem;
  left: 50%;
  width: 52.8%;
  background: url('./../images/schoolboy/item6/change_destiny_btn.png') no-repeat 50% 50%/contain;
  padding-top: 13.46%;
  margin-left: -26.4%;
}

.fontText-wrapper {
  position: absolute;
  z-index: 2;
  top: 21%;
  left: 0;
  width: 100%;
}

.fontText {
    position: absolute;
    z-index: 2;
    left: 50%;
}

.fontText1 {
  top: 21%;
  width: 82.4%;
  margin-left: -41.2%;
  background: url('./../images/schoolboy/item1/text1.png') no-repeat 50% 50%/cover;
  padding-top: 9.2%;
}

.fontText2 {
  top: 29%;
  width: 53.86%;
  margin-left: -26.93%;
  background: url('./../images/schoolboy/item1/text2.png') no-repeat 50% 50%/cover;
  padding-top: 13.06%;
}

.fontText3 {
  top: 41%;
  width: 25.33%;
  margin-left: -12.665%;
  background: url('./../images/schoolboy/item1/text3.png') no-repeat 50% 50%/cover;
  padding-top: 5.2%;
}

.fontText4 {
  top: 46%;
  width: 37.6%;
  margin-left: -18.8%;
  background: url('./../images/schoolboy/item1/text4.png') no-repeat 50% 50%/cover;
  padding-top: 5.2%;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
    color: #fff;
}

.bottomBg {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 135px;

    background: url(bg.svg) top center no-repeat;
}

.bottomBg2 {
    z-index: 2;

    height: 215px;

    background: url(suit.png) top center no-repeat;
    background-size: auto 215px;
}

.wheel {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  margin: 18px 0 0 12px;
  -webkit-animation: rotate .2s infinite linear;
          animation: rotate .2s infinite linear;
  background: url(wheel.png) top left no-repeat;
  background-size: 15px 15px;
}

.bottomArrow {
  position: absolute;
  z-index: 2;
  bottom: 2%;
  left: 50%;
  width: 7.2%;
  padding-top: 8.53%;
  margin-left: -3.6%;
  -webkit-animation: floating 2000ms infinite both cubic-bezier(.445, .05, .55, .95);
          animation: floating 2000ms infinite both cubic-bezier(.445, .05, .55, .95);
  background: url('./../images/schoolboy/common/arrow.png') no-repeat 50% 50%/contain;
}

.black-arrow {
  background: url('./../images/schoolboy/common/black_arrow.png') no-repeat 50% 50%/contain;
}

.bottomArrowWrap {
  position: absolute;
  z-index: 5;
  bottom: 0;
  width: 100%;
  height: 170px;
}

@-webkit-keyframes rotate
{
    from
    {
        -webkit-transform: rotate(0deg);
    }
    to
    {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes rotate
{
    from
    {
        -webkit-transform: rotate(0deg);
    }
    to
    {
        -webkit-transform: rotate(-360deg);
    }
}

@-webkit-keyframes move
{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 200px 0;
    }
}

@keyframes move
{
    0%
    {
        background-position: 0 0;
    }
    100%
    {
        background-position: 200px 0;
    }
}

@-webkit-keyframes speed
{
    0%
    {
        right: -100px;
    }
    50%
    {
        right: 20%;
    }
    90%
    {
        right: 100%;
    }
    100%
    {
        right: 100%;
    }
}

@keyframes speed
{
    0%
    {
        right: -100px;
    }
    50%
    {
        right: 20%;
    }
    90%
    {
        right: 100%;
    }
    100%
    {
        right: 100%;
    }
}

@-webkit-keyframes windSpeed
{
    0%
    {
        margin-left: 40px;

        opacity: .3;
    }
    5%
    {
        margin-left: 60px;

        opacity: .8;
    }
    17%
    {
        margin-left: 100%;

        opacity: 0;
    }
    100%
    {
        opacity: 0;
    }
}

@keyframes windSpeed {
    0%
    {
        margin-left: 40px;

        opacity: .3;
    }
    5%
    {
        margin-left: 60px;

        opacity: .8;
    }
    17%
    {
        margin-left: 100%;

        opacity: 0;
    }
    100%
    {
        opacity: 0;
    }
}

@-webkit-keyframes floating {
    0%
    {
        -webkit-transform: translate3d(0, 30px, 0);

        opacity: 0;
    }
    50%
    {
        -webkit-transform: translate3d(0, 0, 0);

        opacity: .5;
    }
    100%
    {
        -webkit-transform: translate3d(0, -10px, 0);

        opacity: 0;
    }
}

@keyframes floating {
    0%
    {
        -webkit-transform: translate3d(0, 30px, 0);
           -moz-transform: translate3d(0, 30px, 0);
            -ms-transform: translate3d(0, 30px, 0);
             -o-transform: translate3d(0, 30px, 0);
                transform: translate3d(0, 30px, 0);

        opacity: 0;
    }
    50%
    {
        -webkit-transform: translate3d(0, , 0);
           -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
             -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

        opacity: .5;
    }
    100%
    {
        -webkit-transform: translate3d(0, -10px, 0);
           -moz-transform: translate3d(0, -10px, 0);
            -ms-transform: translate3d(0, -10px, 0);
             -o-transform: translate3d(0, -10px, 0);
                transform: translate3d(0, -10px, 0);

        opacity: 0;
    }
}

.H5FullscreenPage {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

section {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;
}

.loadingCover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #000000;
    font-size: 12px;
}

.loadingCover .loadingCover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opacityZero {
  opacity: 0;
}
